
html{
    font-size:80%;
}

.carousel {
    .carousel-inner {
        img {
            height: 100%;
            margin-top: 5px;
            margin-right: 50px;
        }

        .carousel-caption {
            h5 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 .5rem 1rem gray;
    padding: 1rem 3%;
    display: flex;
    align-items: center;
    z-index: 1000;

    .logo {
        margin-right: auto;
        font-size: 1.8rem;
        font-weight: bolder;
        display: flex;

        img {
            height: 50px;
            width: 50px;
        }

        h2 {
            margin-left: 40px;
            margin-top: 14px;
        }
    }

    .navbar {
        position: relative;

        #close-navbar {
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 2.3rem;
            cursor: pointer;
            color: black;

            &:hover {
                transform: rotate(90deg);
            }
        }

        a {
            margin-right: 2rem;
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 3px;
                background-color: rgb(19, 35, 203);
                position: absolute;
                left: 0;
                bottom: -6px;
                transition: 0.5s;
                transition-timing-function: ease-in-out;
                transform: scaleX(0);
            }


            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .icons div {
        cursor: pointer;
        font-size: 2rem;
        color: black;
        margin-left: 1.5rem;

        &:hover {
            color: green;
        }
    }

    #menu-btn {
        display: none;
    }

    #close-navbar {
        display: none;
    }
}


.about {
    padding: 2rem;

    .heading {
        h3 {
            font-size: 3rem;
        }
    }

    .box-container {
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        flex-wrap: wrap;
        gap: 4.3rem;

        .box {
            width: 25rem;
            padding-bottom: 1rem;
            text-align: center;
            box-shadow: 0 .4rem .5rem rgb(0, 0, 0, .3);
            background: white;
            margin: 4rem, 2rem;



            &:hover {
                position: relative;
                cursor: pointer;
                box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, .3);
            }

            img {
                height: 8.5rem;
                width: 8.5rem;
                object-fit: cover;
                border-radius: 50%;
                margin-top: -4rem;
                /* border: .4rem solid rgb(15, 14, 14); */
            }

            h3 {
                font-size: 2rem;
                color: blue;
                padding: 1rem .5rem;
            }

            p {
                font-size: 1.4rem;
                color: black;
                padding: 0 1.3rem;
            }
        }
    }
}

.UpcommingEvent {
    .Upcomming {
        text-align: center;
    }

    .Upcomming h3 {
        font-size: 3rem;
        padding-bottom: 3rem;
    }

    .commingUp {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .images {
            flex: 1 1 40rem;

            img {
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                border-radius: 5%;
                border: rgb(104, 147, 133) solid;
            }
        }

        .content {
            flex: 1 1 40rem;

            .title {
                font-size: 2.2rem
            }

            p {
                font-size: 1.8rem;
                padding: 1rem 0;
            }

            .icons_container {
                margin-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;

                .icons {
                    flex: 1 1 12rem;
                    text-align: center;
                    border: rgb(104, 147, 133) solid;
                    background-color: rgb(233, 247, 247);
                    padding: 1rem 1rem;

                    .img {
                        font-size: 3rem;
                        margin-bottom: .5rem;
                    }

                    h3 {
                        padding: .5rem 0;
                        font-size: 2rem;
                    }
                }
            }

            .reg {
                text-align: center;
                padding: 4rem;
                cursor: pointer;

                button {
                    height: 5rem;
                    width: 12rem;
                }

                a {
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: black;
                    border: black;
                }
                .btn:hover {
                    box-shadow: 0px 11px 10px black;
                    letter-spacing: .2rem;
                }

                .btn a:hover {
                    color: white;
                }
            }

        }
    }

}


.teamMembers {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

    :root {
        --font: 'Poppins', sans-serif;
        --color: #9176FF;
        --bg-color: #f4f4f4;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-items: center;
    }

    body {
        font-family: var(--font);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-color);
    }

    .new {
        margin-top: 50px;
        width: 100%;
    }

    .old {
        width: 100%;
    }

    .swiper {
        width: 100%;
    }

    .swiper-wrapper {
        width: 100%;
        height: 35em;
        display: flex;
        align-items: center;
    }

    .card {
        width: 22em;
        height: 80%;
        background-color: #fff;
        border-radius: 2em;
        box-shadow: 0 0 2em rgba(0, 0, 0, .2);
        padding: 2em 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 2em;
    }

    .swiper-slide:not(.swiper-slide-active) {
        filter: blur(1.9px);
    }

    .card__image {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 5px solid var(--color);
        padding: 3px;
        margin-bottom: 2em;
    }

    .card__image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .card__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card__title {
        font-size: 1.7rem;
        font-weight: 500;
        position: relative;
        top: .2em;
    }

    .card__name {
        margin-top: 10px;
        color: var(--color);
        font-size: 1.3rem;
        font-weight: 500;
    }

    .card__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2px 14px;
        object-fit: cover;
    }

    .card__content .icon {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        z-index: 2;
        margin-top: 30px;
    }

    .card__content .icon a {
        margin: 5px;
        height: 35px;
        width: 35px;
        display: block;
        background: #9c9a9a;
        text-align: center;
        justify-content: center;
        border-radius: 50%;
    }

    .card__content .icon a i {
        font-size: 23px;
        line-height: 35px;
        color: white;
    }

    .card__content .icon .linkdin:hover a {
        background: #0a66c2;
        transform: scale(1.08);
    }

    .card__content .icon .insta:hover a {
        transform: scale(1.08);
        background: linear-gradient(-45deg, #ffec17, #ed1c94, rgb(52, 52, 223));
    }
}

.Event {
    .Heading {
        h3 {
            font-size: 3rem;
        }
    }

    .swiper {
        height: 670px;
        width: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }


            .col {
                flex: 0 0 calc(33.33% - 30px);

                .card {
                    position: relative;
                    width: 420px;
                    height: 300px;
                    border-radius: 10px;
                    box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
                    transition: 0.3;
                    padding: 30px 40px;
                    background-color: white;
                    cursor: pointer;
                    align-items: center;

                    &:hover {
                        height: 530px;
                    }

                    .imagebox {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 915;
                    }

                    img {
                        width: 100%;
                        height: 260px;
                        transform: translateY(-90px);
                        border-radius: 10px;
                        box-shadow: 0px 20px 30px rgb(0, 0, 0, 0.5);
                        border: 3px solid rgb(174, 32, 165);
                    }

                    h5 {
                        width: 100%;
                        transform: translateY(-60px);
                        text-align: center;
                        color: brown;
                        font-size: 1.5rem;
                    }

                    .content {
                        padding: 10px 20px;
                        transform: translateY(-100px);
                        opacity: 0;
                        transition: 0.1s;
                        font-size: 1.2rem;

                    }

                    &:hover .content {
                        opacity: 1;
                        transform: translateY(-50px);
                    }
                }
            }
        }
    }
}

footer {
    background: #343434;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;

    .container {
        /* width: 1140px; */
        margin: auto;
        display: flex;
        justify-content: center;
        padding-top: 40px;

        .footer-content {
            width: 33.3%;

            a {
                text-decoration: none;
                color: white;
                font-size: 1.2rem;

                &:hover {
                    color: #f18930;
                }
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 15px;
                text-align: center;
            }

            p {
                width: 190px;
                margin: auto;
                padding: 7px;
                font-size: 1.2rem;
            }

            ul {
                text-align: center;
            }

            .list {
                padding: 0;

                li {
                    width: auto;
                    text-align: center;
                    list-style-type: none;
                    padding: 7px;
                    position: relative;


                    &::before {
                        content: '';
                        position: absolute;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        top: 100%;
                        width: 0;
                        height: 2px;
                        background: #f18930;
                        transition-duration: .5s;
                    }

                    &:hover::before {
                        width: 70px;
                    }
                }
            }

            .social-icons {
                text-align: center;
                padding: 0;

                li {
                    display: inline-block;
                    text-align: center;
                    padding: 5px;
                }

                i {
                    color: white;
                    font-size: 25px;


                    &:hover {
                        color: #f18930;
                    }
                }
            }



        }


    }

    .bottom-bar {
        background: #f18930;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;

        p {
            color: #343434;
            margin: 0;
            font-size: 1.1rem;
            padding: 7px;
        }
    }


}






@media screen and (max-width:1500px) {
    .carousel-item img {
        margin-top: 58px;
    }
    .header .navbar a {
        margin-right: 1.3rem;
    }

    .carousel-inner img {
        margin-top: 5px;
    }
}

@media (max-width:1300px) {
    html{
        font-size:70%;
    }
    .header {
        padding: 1rem 3%;

        .logo h2 {
            margin-left: 30px;
            margin-top: 16px;
        }

        #menu-btn {
            display: inline-block;
            margin-right: 30px;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: -105%;
            width: 20rem;
            background: white;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;

            #close-navbar {
                display: block;
                margin: 10px 10px;
            }

            &.active {
                box-shadow: 0 0 0 100vw transparent;
                right: 0;
            }

            /* a {
                display: block;
                margin: 1rem 0;
                text-align: center;
                font-size: 1.5rem;
                gap: 8rem;
            } */
        }
    }

    .Event {
        .swiper {
            .swiper-slide {
                .col {
                    .card {
                        width: 350px;
                        height: 300px;

                        h5 {
                            font-size: 1.2rem;
                        }

                        .content {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:928px) {
    .carousel-inner .carousel-caption h5 {
        display: none;
    }
}

@media screen and (max-width:800px) {
    html{
        font-size:60%;
    }
    .header {
        padding: .7rem;

        .logo {
            img {
                height: 60px;
                width: 60px;
                margin-left: 15px;
            }

            h2 {
                margin-left: 20px;
                margin-top: 14px;
                font-size: 1.6rem;
            }
        }

        .navbar {
            width: 15rem;

            a {
                font-size: 1.2rem;
            }

            #close-navbar {
                font-size: 1.7rem;
            }
        }

        #menu-btn {
            font-size: 1.5rem;
        }
    }

    .carousel-inner img {
        margin-top: 5px;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    footer {
        .links {
            display: none;
        }
    }
}

@media (max-width:600px) {
    .about {
        .heading {
            h3 {
                font-size: 2.5rem;
            }
        }
    }

    footer {
        .links {
            display: none;
        }

    }
}


@media (max-width:460px) {
    html{
        font-size:50%;
    }
    .header {
        .logo {
            img {
                height: 45px;
                width: 45px;
                margin-left: 15px;
            }

            h2 {
                margin-left: 17px;
                margin-top: 10px;
                font-size: 1.2rem;
            }
        }

        .navbar {
            right: -135%;
            width: 12rem;

            a {
                font-size: 1rem;
            }

            #close-navbar {
                font-size: 1.5rem;
            }

        }

        #menu-btn {
            font-size: 1.3rem;
        }
    }

    footer {
        .content {
            padding-top: 15xzpx;
        }
    }
}


@media (max-width:400px) {
    .Event {
        .swiper {
            .swiper-slide {
                .col {
                    .card {
                        width: 300px;
                        height: 290px;
                    }
                }
            }

        }
    }
}
